body {
  background-color: #202435;
  font-size: 75%;
}

* {
  box-sizing: border-box;
}




.header {
  background-color: #00D8FF;
  color: #202435;
  padding: 15px;
}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}





button {
  width: 123px;
  position: relative;
  background: none;
  cursor: pointer;
  border: 3px solid #00D8FF;
  color: #fff;
  float: left;
  font-weight: bold;
  margin: 2px;
  padding: 17.5px 30px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

button::before,
button::after {
  background: #00D8FF;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #202435;
}

.btn-1 {
  overflow: hidden;
}

.btn-1::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}




.btn-1:hover::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00D8FF;
  color: #202435;
  text-align: center;
  font-weight: bold;
  border-top: 3px solid #202435;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  color: #FFF;
  width: 130%;
}

  .col-6 {
    width: 100%;
  }